@using System.Security.Claims
@model IEnumerable<HospitalManagementSystem.Models.Appointment>

@{
    ViewData["Title"] = "My Appointments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="margin-top: 40px; margin-bottom: 50px">My Appointments</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AppointmentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient.PatientId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor.DoctorId)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AppointmentDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Patient.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Doctor.FirstName)
                </td>
                <td>
                    @if (item.Patient.IdentityUserId == User.FindFirst(ClaimTypes.NameIdentifier)?.Value)
                    {
                        <a asp-action="Edit" asp-route-id="@item.AppointmentId" class="btn btn-warning btn-sm">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.AppointmentId" class="btn btn-info btn-sm">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.AppointmentId" class="btn btn-danger btn-sm">Delete</a>
                    }

                    else
                    {
                        <span class="text-muted">Not Authorized</span>
                    }
                    
                </td>
            </tr>
        }
    </tbody>
</table>

<p style="margin-top: 60px;">
    @if (User.IsInRole("Patient"))
    {
        <a asp-action="Create" class="btn btn-primary">Create New Appointment</a>
        <a class="btn btn-danger" href="/Patients/PersonalizedIndex">Go Back</a>
    }
    else if (User.IsInRole("Doctor"))
    {
        <a class="btn btn-danger" href="/Doctors/PersonalizedIndex">Go Back</a>
    }
    else
    {
        <a class="btn btn-danger" href="/Managers/Index">Go Back</a>
    }
</p>

